.cabecalho {
    display: flex;
    align-items: center;

    height: 60px;

    background-color: #fddfb7;

}

h1, h2 {
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

#btncadastrar{
    margin-left: 0;
}

.aviso{
    max-width: 400px;
    font-size: 16px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}



#fechar{
    background-color: salmon;
}

.formulario{
    margin-top: 50px;
    font-size: 20px;
    justify-self: center;

}

.container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 20px;
}

.img {
    height: 100px;
    width: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAEBD7;
}


table {
    border: 1px solid black;
    justify-self: center;
    max-width: 90%;
}

.acoes-conteudo {
    display: flex;
    align-items: center;
   
    gap: 10px;
}

.acoes {
    margin-top:40px;
}

.acoes-conteudo .escolha {
    margin-left: 885px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
}

.d-flex {
    display: flex;
    gap: 5px; 
}

.btn {
    color: white;
    margin-left: 5%;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: rgb(71, 125, 243);
}


.form-control{
    width: 400px;
}

.error{
    border: #a94442;
}

label.error {
    font-size: 16px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding:1px 20px 1px 20px;
    display: none;
    max-width: 400px;
  }

